<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cl.uchile.boulder.pine"
          android:versionCode="2"
          android:versionName="1.1">
    <uses-sdk android:targetSdkVersion="23"
            android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@mipmap/ic_main"
        >
        <activity android:name=".activities.MyActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.FixEventActivity" android:screenOrientation="user"/>
        <activity android:name=".activities.UniqueEventActivity"/>
        <activity android:name=".activities.DynEventActivity"/>
    </application>
</manifest>
